<%= content_for :scripts do %>
  <%= javascript_include_tag 'dashboard/resizeApp' %>
  <%= javascript_include_tag 'difflib' %>
  <%= javascript_include_tag 'diffview' %>
  <%= javascript_include_tag 'dashboard/home' %>

  <script type="text/javascript">
    function diffUsingJS(div_id,label1,txt1,label2,txt2){
      // get the baseText and newText values from the two textboxes, and split them into lines
      base = difflib.stringAsLines(txt1);//$("baseText").value);
      newtxt = difflib.stringAsLines(txt2);//$("newText").value);

      //create a SequenceMatcher instance that diffs the two sets of lines
      sm = new difflib.SequenceMatcher(base, newtxt);

      // get the opcodes from the SequenceMatcher instance
      // opcodes is a list of 3-tuples describing what changes should be made to the base text
      // in order to yield the new text
      opcodes = sm.get_opcodes();
      diffoutputdiv = $("#"+div_id);
      while(diffoutputdiv.firstChild)
        diffoutputdiv.removeChild(diffoutputdiv.firstChild);

      //console.log opcodes

      $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
    }
  </script>
<% end %>
<div id="answer-show">

</div>
<% if  current_user.admin? or current_user.id == @team.owner_id %>

  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Turma - <%= @team.name %>
          <small>Analise o desempenho da sua turma</small>
      </h1>
      <ol class="breadcrumb">
          <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
          <li><i class="fa fa-users active"></i> Turma "<%= @team.name %>"</li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
          <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Objetos de aprendizagem atualmente disponíveis para esta turma</h3>
                    <div class="box-tools pull-right">
                      <%= link_to edit_dashboard_team_path(@team) do %>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Editar</button>
                      <% end %>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body shorted-box">
                  <% @team.los.each do |lo| %>
                    <section class="well">
                      <header class="clearfix">
                        <div class="left">
                          <h4><%= link_to lo.name, overview_panel_team_lo_path(@team, lo)%>
                            <% unless @team.lo_ids.include?(lo.id) %>
                              <span class="date-info">(atualmente não disponível para os alunos)</span>
                            <% end %>
                          </h4>
                        </div>
                      </header>
                    </section>

                  <% end %>
              </div>
            </div>

            <div class="box box-solid collapsed-box">
                <div class="box-header">
                    <h3 class="box-title">Objetos de aprendizagem já utilizados nesta turma</h3>
                    <div class="box-tools pull-right">
                      <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" style="display:none;">
                  <% @los.each do |lo| %>
                    <section class="well">
                      <header class="clearfix">
                        <div class="left">
                          <h4><%= link_to lo.name, overview_panel_team_lo_path(@team, lo)%>
                            <% unless @team.lo_ids.include?(lo.id) %>
                              <span class="date-info">(atualmente não disponível para os alunos)</span>
                            <% end %>
                          </h4>
                        </div>
                      </header>
                    </section>

                  <% end %>
              </div>
            </div>

            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Últimas respostas nesta turma</h3>
                </div><!-- /.box-header -->
                <div class="box-body shorted-box">
                  <% @answers.each do |a| %>
                    <%= answer_link(a) %>
                  <% end %>
              </div>
            </div>

            <% if current_user.prof? %>
            <!-- box  (with bar chart) -->
            <div class="box  box-info">
                <div class="box-header">
                    <!-- tools box  -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' ><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-exclamation"></i>

                    <h3 class="box-title">Recomendações automáticas para você</h3>
                </div><!-- /.box-header -->

                <div class="box-body shorted-box">
                  <% if @recommendations.empty? %>
                    <p class="text-center">
                      Nenhuma recomendação no momento.
                    </p>
                  <% end %>
                  <% unless @recommendations.empty? %>
                    <% @recommendations.each do |recommendation| %>
                      <%= render :partial => "dashboard/recommendation", :locals => {:recommendation => recommendation} %>
                    <% end %>
                  <% end %>
                </div><!-- /.box-body -->
<!--
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">

                        </div>
                    </div>
                </div>-->
            </div><!-- /.box  -->
            <% end %>

          </section>

          <section class="col-lg-6">

            <%= recent_activity(@recent_activity_data) %>


            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Alunos matriculados nesta turma</h3>
                </div><!-- /.box-header -->
                <div class="box-body shorted-box">
                  <table class="table table-hover table-bordered">
                    <tr>
                      <th>Nome</th>
                      <th>Progresso</th>
                    </tr>
                    <% @team.users.sort_by{|x| x.name.downcase}.each do |u| %>

                      <tr>
                        <td><%= link_to u.name, panel_team_user_path(@team, u)%> <small>(<%= u.email %>)</small> <small><%= "(Seu próprio usuário)" if u.id ==current_user.id %></small></td>
                        <td>

                          <%= render_progress(u.progress_team(@team.id),"% concluído","width:100%;") %>

                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
            </div>

            <%= pie_chart(@team_lo_tries,"Número de tentativas por O.A.") %>

          </section>
      </div>



  </section>
<% end %>
