<header>
  <div class='clearfix'>
    <span class='left move'>
      <i rel="tooltip" data-original-title="Clique e arraste para ordernar" class="icon-move"></i>
    </span>
    <span class='icon'>
      {{#if available }}
        <i rel="tooltip" data-original-title="Exercício Publicado" class='left icon-certificate icon-green'></i>
      {{else}}
        <i rel="tooltip" data-original-title="Exercício não Publicado" class='left icon-certificate icon-red'></i>
      {{/if}}
    </span>
    <div class='left'>
      <h4>{{title}}</h4>
    </div>
    <span class='options-links'>
      <a href='#' data-id='{{id}}' id='show_exer'><i class="icon-plus"></i> Questões </a>
      <a href='#' data-id='{{id}}' id='edit_exer'><i class="icon-edit"></i> Editar </a>
      <a href='#' data-id='{{id}}' id='destroy_exer' ><i class="icon-remove-circle"></i> Remover </a>
    </span>
  </div>
    <span class='date-info'>
      Criado em {{created_at}}
      Atualizado em {{updated_at}}
    </span>
</header>
<hr>
