<div class="box-header">
  <h3 class="box-title">
    <table>
        <tr>
            <td>
                <img src="http://www.gravatar.com/avatar/<%= answer.user.gravatar %>?s=35" class="img-circle" alt="Imagem do Usuário" />
            </td>
            <td>
              <%= answer.user.name %> - <%= answer.question.title.truncate(10) %>
            </td>
        </tr>
    </table>
  </h3>
    <div class="box-tools pull-right">
        <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-default btn-sm" data-widget="remove" id="close-answer-info"><i class="fa fa-times"></i></button>
    </div>
</div>
<div class="box-body resize" data-resize-operation-height="(($(window).height()-$('.header').height()-$('.content-header').height()-28)*0.8)-100" >
  <div class="row">
    <div class="col-xs-12">
      <% unless @notice.nil? %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Tag criada com sucesso.
      </div>
      <% end %>

      <h3 style="margin-top: 0;"class="page-header">Detalhes da resposta</h3>

      <table class="table table-bordered" style="margin-bottom:5px;">
        <tr>
          <td><b>Aluno</b></td><td><%= @answer.user.name %></td>
        </tr>
        <tr>
          <td><b>Questão</b></td>
          <td><%= @answer.question.title %></td>
        </tr>
        <tr>
          <td><b>Turma</b></td>
          <td><%= @answer.team.name %></td>
        </tr>
        <tr>
          <td><b>O.A.</b></td>
          <td><%= @answer.lo.name %></td>
        </tr>
        <tr>
          <td><b>Tentativa</b></td>
          <td>#<%= @answer.try_number %></td>
        </tr>
        <tr>
          <td><b>Resultados</b></td>
          <td>
            <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Linguagem utilizada na resposta" class="label label-default"><%= answer.lang %></span>
            <% if answer.correct %>
              <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta correta" class="label label-success">correta</span>
            <% else %>
              <% if answer.compile_errors %>
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de compilação" class="label label-warning">compilação</span>
              <% else %>
                <% answer.results.each do |k,v| %>
                  <% if v['diff_error'] %>
                    <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de saída para o caso de teste '<%= v['title'] %>'" class="label label-danger">saída</span>
                  <% end %>
                  <% if v['time_error'] %>
                    <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Tempo excedido para o caso de teste '<%= v['title'] %>'" class="label label-danger">tempo</span>
                  <% end %>
                  <% if v['presentation_error'] %>
                    <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de apresentação para o caso de teste '<%= v['title'] %>'" class="label label-danger">apresentação</span>
                  <% end %>
                  <% if v['exec_error'] %>
                    <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de execução para o caso de teste '<%= v['title'] %>'" class="label label-danger">execução</span>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      <small>Realizada em <b><%= @answer['created_at'].strftime("%d/%m/%Y às %H:%M:%S") %></b></small>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#responseModal">
        Vizualizar respostas
      </button>

      <!-- Modal -->
      <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg my-modal">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Resposta</h4>
            </div>
            <div class="modal-body resize" data-resize-operation-height="$(window).height()*0.8" style="overflow:auto;">
              <pre class="prettyprint lang-pascal" style="width:100%;overflow:scroll;margin:auto;height:260px;"><%= @answer.response %></pre>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <h4 class="page-header">Tags</h4>
      <div id="tags">

    </div>
  </div>

</div><!-- /.box-body -->

<div class="row">
  <div class="col-xs-12">

    <% if answer.compile_errors %>
      <div class="callout callout-warning" style="margin-top:10px;">
        <h4>Erro de compilação</h4>
        <%= simple_format answer.compile_errors %>
      </div>
    <% else %>

    <hr />
    <h4>Resultado dos casos de teste</h4>

    
      <% answer.results.each do |k,v| %>
        

          <div class="row">
            <div class="col-xs-12">
              <% if v['diff_error'] or v['time_error'] or v['exec_error'] or v['presentation_error'] %>
                <div class="box box-danger">
              <% else %>  
                <div class="box box-success">  
              <% end %>
                <div class="box-header">
                  <h3 class="box-title">
                    <%= v['title'] %>    
                  </h3>
                  <div class="box-tools pull-right">

                      <button data-toggle="modal" data-target="#testCaseModal-<%= k %>" class="diff-btn btn btn-default btn-sm" ><i class="fa fa-columns"></i> Diff</button>
                      <!-- Modal -->

                      <div class="modal fade" id="testCaseModal-<%= k %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg my-modal">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Comparação de saídas</h4>
                            </div>
                            <div class="modal-body resize" data-resize-operation-height="$(window).height()*0.8" style="overflow:auto;">
                              <div id="output-<%= k %>">
                                <div class="output" data-output="<%= v['output'] %>" data-expected-output="<%= v['output_expected'] %>" data-id="<%= k %>"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
                <div class="box-body">
                  <% if v['diff_error'] %>
                    <div class="callout callout-danger">
                      <h5>Erro de saída</h5>
                    </div>
                  <% end %>
                  <% if v['time_error'] %>
                    <div class="callout callout-danger">
                      <h5>Tempo de execução excedido</h5>
                    </div>
                  <% end %>
                  <% if v['exec_error'] %>
                    <div class="callout callout-danger">
                      <h5>Erro de execução</h5>
                    </div>
                  <% end %>
                  <% if v['presentation_error'] %>
                    <div class="callout callout-danger">
                      <h5>Erro de apresentação</h5>
                    </div>
                  <% end %>
                </div><!-- /.box-body -->

              </div>
            </div>
          </div>

        
        
      <% end %>
      <% end %>
    
    </div>
</div>