<div class="row">
  <div class="col-md-12 text-center" style="margin-bottom:20px;">
    <%= total %> respostas encontradas.
    <% if total > 50 %>
      Mostrando apenas as 50 mais recentes.
    <% end %>
    <%= filter_in_words(@params) %>
      <% if as.count > 0 %>


        <%= button_tag raw("<i class='fa fa-plus'></i> Adicionar todas as respostas encontradas"), :class => "btn btn-small btn-warning", :id => "add-all" %>
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Aluno</th>
            <th>Questão</th>
            <th>Turma</th>
            <th>O.A.</th>
            <th>Tentativa</th>
            <th>Data</th>
            <th>

            </th>
          </tr>
          <% i = 0 %>
          <% as.each do |a| %>

            <% if a.correct %>
              <tr class="success answer" data-answer-id="<%= a.id %>">
            <% else %>
              <tr class="danger  answer" data-answer-id="<%= a.id %>">
            <% end %>

              <td>
                <img src="http://www.gravatar.com/avatar/<%= a.user.gravatar %>?s=35" class="img-circle" alt="Imagem do Usuário" />
              </td>
              <td>
                <%= a.user.name %>
              </td>
              <td>
                <%= a.question.title %>
              </td>
              <td>
                <%= a.team.name %>
              </td>
              <td>
                <%= a.lo.name %>
              </td>
              <td>
                #<%= a.try_number %>
              </td>
              <td>
                <small>Realizada em <b><%= a.created_at.strftime("%d/%m/%Y às %H:%M:%S") %></b></small>
              </td>
              <td>
                <%= button_tag raw("<i class='fa fa-plus'></i> Adicionar resposta"), :class => "btn btn-small btn-primary add-answer btn-block", :data => {:id => a.id.to_s} %>
                <%= button_tag raw("<i class='fa fa-plus'></i> Adicionar respostas semelhantes"), :class => "btn btn-small btn-block btn-warning add-similar", :data => {:id => a.id.to_s} %>
                <%= button_tag raw("<i class='fa fa-plus'></i> Adicionar componente conexa"), :class => "btn btn-small btn-block btn-danger add-connected-component", :data => {:id => a.id.to_s} %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
