<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">

    <li class="<%= raw "active" if controller.class == DashboardController && controller.action_name == "home" %>">
        <%= link_to dashboard_home_path do %>
            <i class="fa fa-home"></i> <span>Home</span>
        <% end %>
    </li>

<% if current_user.admin? %>
    <li class="<%= raw "active" if controller.class == DashboardController && controller.action_name == "graph" %>">
        <%= link_to dashboard_graph_path do %>
          <i class="fa fa-code-fork"></i> <span>Grafo de Manipulação</span>
        <% end %>
    </li>
<% end %>

    <li class="<%= raw "active" if controller.class == DashboardController && controller.action_name == "timeline" %>">
        <%= link_to dashboard_timeline_path do %>
            <i class="fa fa-clock-o"></i> <span>Linha do Tempo</span>
        <% end %>
    </li>

    <li class="<%= raw "active" if controller.class == DashboardController && controller.action_name == "search" %>">
        <%= link_to dashboard_search_path do %>
            <i class="fa fa-search"></i> <span>Busca</span>
        <% end %>
    </li>

    <li class="<%= raw "active" if controller.class == DashboardController && controller.action_name == "tags" %>">
        <%= link_to dashboard_tags_path do %>
            <i class="fa fa-tags"></i> <span>Categorias</span>
        <% end %>
    </li>

    <li class="<%= raw "active" if controller.class == Dashboard::MessagesController %>">
        <%= link_to dashboard_messages_path do %>
            <i class="fa fa-envelope"></i> <span>Mensagens</span>
        <% end %>
    </li>

  <% if current_user.admin? %>
    <li>
        <a href="/los" target="_blank"><i class="fa fa-pencil-square-o"></i> <span>Meus O.A.'s</span></a>
    </li>
  <% end %>

    <li class="<%= raw "active" if controller.class == Dashboard::TeamsController %>">
        <%= link_to dashboard_teams_available_path do %>
            <i class="fa fa-users"></i> <span>Turmas Disponíveis</span>
        <% end %>
    </li>
    <% # sorry about the next few lines =/ %>
    <% my_teams = Team.where(owner_id: current_user.id).asc('name') %>
    <% teams = current_user.teams.asc('name') %>
    <% others = Array.new %>
    <% if current_user.admin? %>
      <% others = Team.all.asc('name').entries - my_teams %>
    <% end %>

    <% unless my_teams.empty? %>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i>
            <span>Minhas Turmas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        
        <ul class="treeview-menu">
          <% my_teams.each do |t| %>
            <li><%= link_to t.name, panel_team_path(t.id), :style=>"margin-left:10px;" %></li>
          <% end %>
        </ul>
      </li>
    <% end %>


    <% unless others.empty? %>
      <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i>
            <span>Outras Turmas</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        
        <ul class="treeview-menu">
          <% others.each do |t| %>
            <li>
              <%= link_to panel_team_path(t.id), :style=>"margin-left:10px;" do %>
                <i class="fa fa-angle-double-right"></i> <%= t.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>


    <li class="treeview">
      <a href="#">
          <i class="fa fa-check-square-o"></i>
          <span>Turmas Matriculadas</span>
          <i class="fa fa-angle-left pull-right"></i>
      </a>
        
      <ul class="treeview-menu">
        <% teams.each do |t| %>
          <li><%= link_to t.name, panel_team_path(t.id), :style=>"margin-left:10px;" %></li>
        <% end %>
      </ul>
    </li>


    <!--
    <li>
        <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
        </a>
    </li>
    -->
    <!--
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
        </ul>
    </li>
    -->
</ul>