<%= content_for :scripts do %>
  <%= javascript_include_tag 'd3.min' %>
  <%= javascript_include_tag 'cal-heatmap.min' %>
  <%= javascript_include_tag 'moment.min' %>

  <script type="text/javascript">
    var cal = new CalHeatMap();
    $(document).ready(function(){
        cal.init({
          data:  <%= raw data.to_json %>,
          start: moment().subtract("months",5).toDate(),
          range:12,
          id: "cal-heatmap",
          domain : "month",     // Group data by month
          subDomain : "day",
          scale: [1,10,20,30],
          cellLabel: {
            empty: "Nenhuma tentativa em {date}",
            filled: "{count} tentativa(s) em {date}"
          },
          format: {
            date: "%d/%m/%Y",
            connector: "em",
            legend: "%m/%Y"
          },
          browsingOptions:{
            previousLabel: "<i class='fa fa-angle-double-left'></i>",
            nextLabel: "<i class='fa fa-angle-double-right'></i>"
          },
          browsing: true
        });
    });

  </script>
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag    'cal-heatmap', :media => 'all' %>
<% end %>


<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title">Atividade recente</h3>
        <div id="recentBtns" class="pull-right box-tools">

        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div id="cal-heatmap"></div>
    </div>
</div>
