<div id="answer-show"></div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">
    <h3>Confirmadas<small> <%= total %> respostas encontradas <%= raw " (Mostrando apenas as 50 mais recentes)" if total > 50 %>.</small></h3>
    <%= filter_in_words(@params) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;" id="confirmed-tags">
    <%= render :partial => "dashboard/answers/answer_card", :locals => {:answers => as, :button_tag => false, :n => 3} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">
    <h3>Atribuídas automaticamente</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">

    <%= link_to "Atualizar", dashboard_tags_search_aat_path(@params), :class=>"btn btn-default", :remote => true, :method => :put %>

    <div id="aat">

    </div>

  </div>
</div>
