<div id="answer-show"></div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">
    <h3>Confirmadas<small> <%= as.count %> respostas encontradas</small></h3>
    <%= filter_in_words(@params) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;" id="confirmed-tags">
    <%= render :partial => "dashboard/answers/answer_card", :locals => {:answers => as, :button_tag => false, :n => 3} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">
    <h3>Atribuídas automaticamente<small> <%= as_aat.count %> respostas encontradas</small></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-bottom:20px;">
    <%= render :partial => "dashboard/answers/answer_card", :locals => {:answers => as_aat, :button_tag => true, :n => 3} %>
  </div>
</div>
