<%= content_for :scripts do %>
  <%= javascript_include_tag 'dashboard/resizeApp' %>
  <%= javascript_include_tag 'difflib' %>
  <%= javascript_include_tag 'diffview' %>
  <%= javascript_include_tag 'dashboard/home' %>

  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
  <script type="text/javascript">
  function diffUsingJS(div_id,label1,txt1,label2,txt2){
    // get the baseText and newText values from the two textboxes, and split them into lines
    base = difflib.stringAsLines(txt1);//$("baseText").value);
    newtxt = difflib.stringAsLines(txt2);//$("newText").value);

    //create a SequenceMatcher instance that diffs the two sets of lines
    sm = new difflib.SequenceMatcher(base, newtxt);

    // get the opcodes from the SequenceMatcher instance
    // opcodes is a list of 3-tuples describing what changes should be made to the base text
    // in order to yield the new text
    opcodes = sm.get_opcodes();
    diffoutputdiv = $("#"+div_id);
    while(diffoutputdiv.firstChild)
      diffoutputdiv.removeChild(diffoutputdiv.firstChild);

    //console.log opcodes

    $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
  }
  </script>
<% end %>


<div id="answer-show">

</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Home
        <small>Painel principal</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> Home</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <% if current_user.admin? %>
      
    
    <% @boxes.each do |box| %>
      <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box <%= box[:color] %>">
              <div class="inner">
                  <h3>
                      <%= box[:value] %>
                  </h3>
                  <p>
                      <%= box[:title] %>
                  </p>
              </div>
              <div class="icon">
                  <i class="<%= box[:icon] %>"></i>
              </div>
              <% if box[:has_link] %>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              <% else %>
                <div class="small-box-footer">
                </div>
              <% end %>

          </div>
      </div><!-- ./col -->
    <% end %>
  </div>

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6">


            <!-- Box (with bar chart) -->
            <div class="box box-info">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-comments"></i>

                    <h3 class="box-title">Últimos comentários nas suas turmas</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <% @last_comments.each do |c| %>
                    <% unless c.created_at.nil? %>
                      <div class="box box-solid" style="border: 1px solid lightgray;">
                        <div class="box-header">
                            <h3 class="box-title" style="width:80%;">
                              <div class="pull-left image">
                                  <img src="http://www.gravatar.com/avatar/<%= c.user.gravatar%>" class="img-circle" alt="Imagem do usuário" style="width:50px;margin-right:10px;"/>
                              </div> 
                              <%= c.user.name %>
                              <br><small><i class="fa fa-clock-o"></i> há <%= time_ago_in_words c.created_at %></small>
                              <br>
                              <small>
                                na resposta à 
                                <%= link_to panel_team_user_lo_question_answer_path(c.team_id,c.target_user_id,c.answer.lo_id,c.question_id,c.answer_id) do %>
                                  questão <strong><%= Question.find(c.question_id).title %></strong> na turma <strong><%= Team.find(c.team_id).name %></strong>
                                <% end %>
                              </small>
                            </h3>
                        </div>
                        <div class="box-body">
                            <%= simple_format c.text %>
                        </div><!-- /.box-body -->
                      </div>

                   <% end %>
                 <% end %>
                </div><!-- /.box-body -->
            </div><!-- /.box -->        


            <!-- Box (with bar chart) -->
            <div class="box box-info">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-check"></i>

                    <h3 class="box-title">Últimas respostas das suas turmas</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <% @last_answers.each do |a| %>
                    <%= answer_link(a) %>
                  <% end %>
                </div><!-- /.box-body -->
            </div><!-- /.box -->        
        </section><!-- /.Left col -->

        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-6">
            <!-- Box (with bar chart) -->
            <div class="box box-info">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-exclamation"></i>

                    <h3 class="box-title">Recomendações automáticas para você</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                  <% unless @recommendations.empty? %>
                    <% @recommendations.each do |recommendation| %>
                      <%= render :partial => "recommendation", :locals => {:recommendation => recommendation} %>
                    <% end %>
                  <% end %>
                </div><!-- /.box-body -->
<!--
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">

                        </div>
                    </div>
                </div>-->
            </div><!-- /.box -->     

        

        </section><!-- right col -->
        <% else %>
        <% end %>
    </div><!-- /.row (main row) -->


</section><!-- /.content -->