<div class="modal" id="retroaction-modal" tabindex="-1" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Retroação a resposta {{response}}</h3>
    <p>
      Resposta <em>{{response}}</em> do aprendiz <em>{{answered_by}}</em> para questão <strong>{{question.title}}</strong>
      do exercício <em>{{exercise.title}}</em> ocorrida às <em>{{created_at}}</em> durante a tentativa <em>{{try_number}}</em>
    <p>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>
