<%= content_for :scripts do %>
  <script type="text/javascript">
    $(".stats_popover").popover({html:true});
  </script>

  <%= javascript_include_tag 'dashboard/resizeApp' %>
  <%= javascript_include_tag 'difflib' %>
  <%= javascript_include_tag 'diffview' %>

<script type="text/javascript">
$(document).ready(function(){
  $("body").on("click",".answer-btn",function(){
    var message_id = $(this).data("message-id");
    $.ajax({
      url: "/dashboard/answers/show",
      data: {
        id: $(this).data("id")
      },
      type: "get"    
    });
  });

  $("body").on("click",".connection-btn",function(){
    $.ajax({
        url: "/dashboard/connections/show",
        type: "get",
        data: {id:$(this).data("id")},
        success: function(){
          //console.log("OK");
        }
    });
  });

});


  function diffUsingJS(div_id,label1,txt1,label2,txt2){
    // get the baseText and newText values from the two textboxes, and split them into lines
    base = difflib.stringAsLines(txt1);//$("baseText").value);
    newtxt = difflib.stringAsLines(txt2);//$("newText").value);

    //create a SequenceMatcher instance that diffs the two sets of lines
    sm = new difflib.SequenceMatcher(base, newtxt);

    // get the opcodes from the SequenceMatcher instance
    // opcodes is a list of 3-tuples describing what changes should be made to the base text
    // in order to yield the new text
    opcodes = sm.get_opcodes();
    diffoutputdiv = $("#"+div_id);
    while(diffoutputdiv.firstChild)
      diffoutputdiv.removeChild(diffoutputdiv.firstChild);

    //console.log opcodes

    $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
  }


  </script>
<% end %>

<div id="answer-show">

</div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Objeto de Aprendizagem
          <small>Quadro resumo do desempenho dos alunos</small>
      </h1>
      <ol class="breadcrumb">
          <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
          <li><i class="fa fa-users"></i> <%= link_to "Turma \"#{@team.name}\"", panel_team_path(@team.id) %></li>
          <li><i class="fa fa-bar-chart-o active"></i> <%= @lo.name %></li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
          <section class="col-lg-12">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Quadro resumo do objeto de aprendizagem '<%= @lo.name %>' para a turma '<%= @team.name %>'</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th rowspan="2">Aluno</th>
    <% @exercises.each do |ex| %>
      <th colspan="<%= ex.questions.length %>">
      <span class='icon'>
      <% if ex.available %>
        <i rel="tooltip" data-original-title="Exercício Publicado" class='left icon-certificate icon-green'></i> 
      <% else %>
        <i rel="tooltip" data-original-title="Exercício não Publicado" class='left icon-certificate icon-red'></i> 
      <% end %>
      </span>
        Exercício <%= ex.title %>
      </th>
    <% end %>
  </tr>
  <tr>
    <% @exercises.each do |ex| %>
      <% ex.questions.each do |q| %>
        <th>
         <a href="#" style="cursor:default;" class="stats_popover popover-dismiss" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="
          <% if current_user.admin? or @team.owner_id == current_user.id %>
            <ul>
              <li><strong>Nesta turma:</strong></li>
              <ul>
                <li>Taxa de acerto: <%= number_with_precision(@team_stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
                <li>Números de tentativas: <%= @team_stats[ex.id][q.id].correct_tries + @team_stats[ex.id][q.id].wrong_tries %></li>
                <% unless @team_stats[ex.id][q.id].test_case_results.nil? %>
                  <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
                  <ul>
                    <% @team_stats[ex.id][q.id].test_case_results.each do |id,stats| %>
                      <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
                    <% end %>
                  </ul>
                <% end %>
              </ul>
              <% if current_user.admin? %>
                <li><strong>Todas as turmas:</strong></li>
                <ul>
                  <li>Taxa de acerto: <%= number_with_precision(@stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
                  <li>Números de tentativas: <%= @stats[ex.id][q.id].correct_tries + @stats[ex.id][q.id].wrong_tries %></li>
                  <% unless @stats[ex.id][q.id].test_case_results.nil? %>
                    <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
                    <ul>
                      <% @stats[ex.id][q.id].test_case_results.each do |id,stats| %>
                        <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
                      <% end %>
                    </ul>
                  <% end %>
                </ul>
              <% end %>
            </ul>
          <% end %>" title="" data-original-title="Estatísticas da Questão"><%= q.title %></a></th>
      <% end %>
    <% end %>
  </tr>
</thead>
<tbody>
<% @team.users.sort_by{|x| x.name.downcase}.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <% @exercises.each do |ex| %>
      <% ex.questions.each do |q| %>
        <td style="text-align: center;min-width:150px;">
          <% a = u.question_overview(@team,q) %>
          <% if a[0].nil? %>
            <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Questão ainda não respondida pelo aluno" class="label label-default">Não respondida</span>
          <% else %>
<% if a[2] > 0 %>
              <span class='label label-warning' style='cursor:pointer;'> <i class='fa fa-comment'></i></span>
            <% end %>
            <% if a[0].correct %>
                <%= link_to panel_team_user_lo_question_path(@team,u,@lo,q) do %>
                  <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta correta!" class="label label-success">OK</span>
                  <% end %><small class="date-info"> <%= a[1] %> tentativa(s)</small>
            <% else %>
                <%= link_to panel_team_user_lo_question_path(@team,u,@lo,q) do %>
                  <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta incorreta!" class="label label-danger">ERRO</span>
                <% end %><small class="date-info"> <%= a[1] %> tentativa(s)</small>
            <% end %>
<span class='label label-default answer-btn' style='cursor:pointer;' data-id="<%= a[0].id %>"> <i class='fa fa-eye'></i></span>
          <% end %>
          <%= render_progress(u.progress_question(@team.id.to_s,q.id.to_s),"% concluído","margin: 10px auto;width:100px;") %>
          
        </td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
</section>
</div>
</section>
