<%= content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".question_stats").hide();

      $(".stats_link").click(function(ev){
        ev.preventDefault();
        $("#stats_"+$(this).data("question-id")).slideToggle();
      });
    });
  </script>
    <%= javascript_include_tag 'dashboard/resizeApp' %>
    <%= javascript_include_tag 'difflib' %>
    <%= javascript_include_tag 'diffview' %>

  <script type="text/javascript">
  function diffUsingJS(div_id,label1,txt1,label2,txt2){
    // get the baseText and newText values from the two textboxes, and split them into lines
    base = difflib.stringAsLines(txt1);//$("baseText").value);
    newtxt = difflib.stringAsLines(txt2);//$("newText").value);

    //create a SequenceMatcher instance that diffs the two sets of lines
    sm = new difflib.SequenceMatcher(base, newtxt);

    // get the opcodes from the SequenceMatcher instance
    // opcodes is a list of 3-tuples describing what changes should be made to the base text
    // in order to yield the new text
    opcodes = sm.get_opcodes();
    diffoutputdiv = $("#"+div_id);
    while(diffoutputdiv.firstChild)
      diffoutputdiv.removeChild(diffoutputdiv.firstChild);

    //console.log opcodes

    $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
  }

  </script>
  <%= javascript_include_tag 'dashboard/home' %>
<% end %>

<div id="answer-show">

</div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          <%= @lo.name %> - Aluno <%= @user.name %>
          <small>Destalhes do aluno na turma <em><%= @team.name %></em></small>
      </h1>
      <br>
      <ol class="breadcrumb">
          <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
          <li><i class="fa fa-users"></i> <%= link_to "Turma \"#{@team.name}\"", panel_team_path(@team.id) %></li>
          <li><i class="fa fa-user"></i> <%= link_to @user.name, panel_team_user_path(@team.id,@user.id) %></li>
          <li><i class="fa fa-check"></i> <%= @lo.name %></li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

          <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Exercícios</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                  <% @exercises.each do |ex| %>
  <h4>Exercício <%= ex.title %></h4>
  
  <% ex.questions.each do |q| %>
    <%= link_to panel_team_user_lo_question_path(@team,@user,@lo,q) do %>
<section class="well"><header class="clearfix">
  <div class="left">

    <h4><%= q.title %>
      <% a = @user.question_overview(@team,q) %>
      <div class="pull-right">
        <% if a[0].nil? %>
          <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Questão ainda não respondida pelo aluno" class="label label-default">Não respondida</span>
        <% else %>  
          <% if a[0].correct %>
              <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta correta!" class="label label-success">OK</span> <small class="date-info"><%= a[1] %> tentativa(s)</small>
          <% else %>
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta incorreta!" class="label label-danger">ERRO</span> <small class="date-info"><%= a[1] %> tentativa(s)</small>
          <% end %>
        <% end %>
      </div>
      <%= render_progress(@user.progress_question(@team.id,q.id),"% concluído","margin:10px 0;width:100%;") %>

    </h4>
    <div>
    <span class="date-info">
      <%= raw(truncate(strip_tags(q.content),length:200)) %>
    </span>
  </div>

  <% if current_user.admin? or @team.owner_id == current_user.id %>
    <a href="#" class="stats_link" data-question-id="<%= q.id %>"><h5><i class="icon-ok"></i> Estatísticas da Questão</h5></a>
    <div class="question_stats" id="stats_<%= q.id %>">
    <ul>
      <li><strong>Nesta turma:</strong></li>
    <ul>
      <li>Taxa de acerto: <%= number_with_precision(@team_stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
      <li>Números de tentativas: <%= @team_stats[ex.id][q.id].correct_tries + @team_stats[ex.id][q.id].wrong_tries %></li>
      <% unless @team_stats[ex.id][q.id].test_case_results.nil? %>
        <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
        <ul>
          <% @team_stats[ex.id][q.id].test_case_results.each do |id,stats| %>
            <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
          <% end %>
        </ul>
      <% end %>
    </ul>
    <% if current_user.admin? %>
      <li><strong>Todas as turmas:</strong></li>
    <ul>
      <li>Taxa de acerto: <%= number_with_precision(@stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
      <li>Números de tentativas: <%= @stats[ex.id][q.id].correct_tries + @stats[ex.id][q.id].wrong_tries %></li>
      <% unless @stats[ex.id][q.id].test_case_results.nil? %>
        <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
        <ul>
          <% @stats[ex.id][q.id].test_case_results.each do |id,stats| %>
            <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
          <% end %>
        </ul>
      <% end %>

  </ul>
  <% end %>
</ul>
  </div>
<% end %>
  </div>
</section>
<% end %>

  <% end %>
<% end %>
                  
                </div>
            </div>
          </section>

          <section class="col-lg-6">

            <%= recent_activity(@recent_activity_data) %>
            
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Últimas respostas neste O.A.</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <% @last_answers.each do |a| %>
                    <%= answer_link(a) %>
                  <% end %>
              </div>
            </div>
          </section>

    </div>
  </section>

