<h4>Aluno <em><%= @user.name %></em> na turma <em><%= @team.name %></em></h4>
<h3><%= @lo.name %> <small><%= link_to "(Resumo)", overview_panel_team_lo_path(@team,@lo) if current_user.admin? or current_user.id == @team.owner_id %></small></h3>

<% @exercises.each do |ex| %>
	<h4 class="page-header">Exercício <%= ex.title %></h4>
	
	<% ex.questions.each do |q| %>
    <%= link_to panel_team_user_lo_question_path(@team,@user,@lo,q) do %>
<section class="well"><header class="clearfix">
  <div class="left">

    <h4><%= q.title %>
      <% a = @user.question_overview(@team,q) %>
        <% if a[0].nil? %>
          <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Questão ainda não respondida pelo aluno" class="label">Não respondida</span>
        <% else %>  
          <% if a[0].correct %>
              <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta correta!" class="label label-success">OK</span> <small class="date-info"><%= a[1] %> tentativa(s)</small>
          <% else %>
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta incorreta!" class="label label-important">ERRO</span> <small class="date-info"><%= a[1] %> tentativa(s)</small>
          <% end %>
        <% end %>

    </h4>
    <div>
    <span class="date-info">
      <%= raw(truncate(strip_tags(q.content),length:200)) %>
    </span>
  </div>

  <% if current_user.admin? or @team.owner_id == current_user.id %>
    <a href="#" class="stats_link" data-question-id="<%= q.id %>"><h5><i class="icon-ok"></i> Estatísticas da Questão</h5></a>
    <div id="stats_<%= q.id %>" class="hide">
    <ul>
      <li><strong>Nesta turma:</strong></li>
    <ul>
      <li>Taxa de acerto: <%= number_with_precision(@team_stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
      <li>Números de tentativas: <%= @team_stats[ex.id][q.id].correct_tries + @team_stats[ex.id][q.id].wrong_tries %></li>
      <% unless @team_stats[ex.id][q.id].test_case_results.nil? %>
        <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
        <ul>
          <% @team_stats[ex.id][q.id].test_case_results.each do |id,stats| %>
            <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
          <% end %>
        </ul>
      <% end %>
    </ul>
    <% if current_user.admin? %>
      <li><strong>Todas as turmas:</strong></li>
    <ul>
      <li>Taxa de acerto: <%= number_with_precision(@stats[ex.id][q.id].correctness_rate*100, :precision => 2) %>%</li>
      <li>Números de tentativas: <%= @stats[ex.id][q.id].correct_tries + @stats[ex.id][q.id].wrong_tries %></li>
      <% unless @stats[ex.id][q.id].test_case_results.nil? %>
        <li><strong>Taxas de acerto para cada caso de teste:</strong></li>
        <ul>
          <% @stats[ex.id][q.id].test_case_results.each do |id,stats| %>
            <li><%= stats['title'] %>: <%= number_with_precision(stats['correctness_rate']*100, :precision => 2) %>%</li>
          <% end %>
        </ul>
      <% end %>

  </ul>
  <% end %>
</ul>
  </div>
<% end %>
  </div>
</section>
<% end %>

	<% end %>
<% end %>