<header class='page-header' >
  {{#if id }}
    <h4>Editar questão {{{title}}}</h4>
  {{else}}
    <h4>Nova questão</h4>
  {{/if}}
</header>
<form class="form-vertical" novalidate>
  <input name="id" type="hidden" />

  <fieldset>

    <div class="control-group title_group">
      <label class="control-label" for="title">Título *</label>
      <div class="controls">
        <input id="title" name="title" type="text" required="required" />
      </div>
    </div>

    <div class="control-group content_group">
      <label class="control-label" for="content">Enunciado *</label>
      <div class="controls">
        {{#if id}}
          <textarea id='ckeditor-{{id}}' name="content" required="required"></textarea>
        {{else}}
          <textarea id='ckeditor-new' name="content" required="required"></textarea>
        {{/if}}
      </div>
    </div>

    <div class="control-group available_group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name='available'> Publicar (Disponibilizar para alunos)
        </label>
      </div>
    </div>

    <div class="control-group languages_group">
      <label class="control-label" for="languages_group">Linguagens permitidas *</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" checked="checked" value="pas" class="languages pas" id="{{id}}-pascal" name="{{id}}-languages-pascal"> Pascal
        </label>
        <label class="checkbox">
          <input type="checkbox" checked="checked" value="c" class="languages c" id="{{id}}-c" name="{{id}}-languages-c"> C
        </label>
        <label class="checkbox">
          <input type="checkbox" checked="checked" value="rb" class="languages rb" id="{{id}}-ruby" name="{{id}}-languages-ruby"> Ruby
        </label>
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" value="Salvar" class="btn btn-primary" />
      <input type="button" value="Cancelar" class="btn btn-primary btn-cancel" />
    </div>

  </fieldset>
</form>
