<hr />
<div>
  Crie e edite questões.<br />
  <strong>Lembre-se de adicionar pelo menos um caso de teste para cada questão.</strong>
</div>
<hr />
<header>
  <div class='clearfix '>
    <span class='left move'>
      <i rel="tooltip" data-original-title="Clique e arraste para ordernar" class="icon-move"></i>
    </span>
    <span class='icon'>
      {{#if available }}
        <i rel="tooltip" data-original-title="Questão Publicada" class='left icon-certificate icon-green'></i>
      {{else}}
        <i rel="tooltip" data-original-title="Questão não Publicado" class='left icon-certificate icon-red'></i>
      {{/if}}
    </span>
    <h4 class='left'>{{title}}</h4>
    <div class='right'>
      <a href='' class='details-question-link' ><i class="icon-plus"></i> Detalhes </a> |
      <a href='' class='show-test_cases-link'><i class="icon-ok"></i> Casos de teste </a> |
      <a href='' class='edit-question-link' ><i class="icon-edit"></i> Editar </a> |
      <a href='' class='destroy-question-link' ><i class="icon-remove-circle"></i> Remover </a>
    </div>
  </div>
</header>

<div id="test_cases_modal_{{{id}}}" class="well hide" style="margin-top:10px; background-color: #ffffff;">
  <div>
    <h4>Casos de teste da Questão {{{title}}}</h4>
  </div>

      <div class='clearfix separator-top'>
      <div class='right'>
        <a href='' class="new-test_case-link22" ><i class="icon-plus-sign"></i> Criar novo caso de teste </a>
      </div>
    </div>

  <div>
      <div id='new_test_case_{{{id}}}'></div>
    <div class="test_cases"></div>
  </div>
</div>

<div id="details_question_{{{id}}}" class="hide">
<p> {{safe content}} </p>

<div class='well' >
   <div>
     <label for="answer">Teste sua resposta:</label>
     <div class="answer-group">
     </div>
   </div>

</div>

</div>
