<header class='clearfix'>
  <span class='icon'>
    {{#if available }}
      <i rel="tooltip" data-original-title="OA Publicado" class='left icon-certificate icon-green'></i>
    {{else}}
      <i rel="tooltip" data-original-title="OA não Publicado" class='left icon-certificate icon-red'></i>
    {{/if}}
  </span>
  <div class='left'>
    <h4>{{name}}</h4>
  </div>
  <span class='options-links'>
    <a href='#' class='edit-lo'><i class="icon-edit"></i> Editar </a>
    <a href='#' class='destroy-lo' ><i class="icon-remove-circle"></i> Remover </a>
  </span>
  <div class='right date-info'>
    Criado por {{created_by}} em {{created_at}} | Última atualização {{updated_at}}
  </div>
</header>
<p>{{description}}</p>
<p>
  <a class='btn btn-small introductions-btn' >Introduções</a>
  <a class='btn btn-small exercises-btn' >Exercícios</a>
  <a class='btn btn-small view-lo-btn'>Visualizar OA</a>
</p>
<hr>
