<div id="answer-show">

</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mensagens
        <% if current_user.prof? %>
            <small>envie mensagens com recomendações para alunos</small>
        <% end %>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
        <li class="active"><i class="fa fa-envelope"></i> Mensagens</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <% if current_user.prof? %>

    <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Mensagens enviadas por mim</h3>
            </div>
            <div class="box-body">

            <%= link_to new_dashboard_message_path do %>
                <%= button_tag raw("<i class='fa fa-plus'></i> Nova mensagem"), :class => "btn btn-sm btn-primary" %>
            <% end %>

            <table class="table" style="margin-top:10px;">
                <tr>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th></th>
                </tr>

                <% @messages.each do |m| %>
                    <tr>
                        <td>
                            <% if m.has_recommendation? %>
                                <span><i class="fa fa-paperclip"></i> </span>
                            <% end %>
                            <% if m.new_flag_user_ids.include?(current_user.id.to_s) %>
                                <small class="badge bg-green">nova</small>
                            <% end %>
                            <%= truncate(m.subject) %>
                        </td>
                        <td><%= truncate(m.content) %></td>
                        <td>
                          <div class="btn-group">
                            <%= link_to dashboard_message_path(m) do %>
                                <%= button_tag "Ver", :class => "btn btn-sm btn-success" %>
                            <% end %>

                            <%= link_to edit_dashboard_message_path(m) do %>
                                <%= button_tag "Editar", :class => "btn btn-sm btn-info" %>
                            <% end %>
                            <%= link_to dashboard_message_path(m), method: :delete,data: { confirm: 'Você tem certeza que deseja apagar esta mensagem?'} do %>
                                <%= button_tag "Apagar", :class => "btn btn-sm btn-danger" %>
                            <% end %>
                        </div>
                      </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
  </div>
</div>
    <% end %>
    <div class="row">
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Mensagens enviadas para mim</h3>
            </div>
            <div class="box-body">


            <table class="table">
                <tr>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th></th>
                </tr>
                <% @messages_to_me.each do |m| %>
                    <tr>
                        <td>
                            <% if m.has_recommendation? %>
                                <span><i class="fa fa-paperclip"></i> </span>
                            <% end %>
                            <% if m.new_flag_user_ids.include?(current_user.id.to_s) %>
                                <small class="badge bg-green">nova</small>
                            <% end %>
                            <%= truncate(m.subject) %>
                        </td>
                        <td><%= truncate(m.content) %></td>
                        <td>
                            <%= link_to dashboard_message_path(m) do %>
                                <%= button_tag "Ver", :class => "btn btn-sm btn-success" %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div></div></div>
</section>
