<%= content_for :scripts do %>
    <%= javascript_include_tag 'dashboard/resizeApp' %>
    <%= javascript_include_tag 'difflib' %>
    <%= javascript_include_tag 'diffview' %>

  <script type="text/javascript">
  function diffUsingJS(div_id,label1,txt1,label2,txt2){
    // get the baseText and newText values from the two textboxes, and split them into lines
    base = difflib.stringAsLines(txt1);//$("baseText").value);
    newtxt = difflib.stringAsLines(txt2);//$("newText").value);

    //create a SequenceMatcher instance that diffs the two sets of lines
    sm = new difflib.SequenceMatcher(base, newtxt);

    // get the opcodes from the SequenceMatcher instance
    // opcodes is a list of 3-tuples describing what changes should be made to the base text
    // in order to yield the new text
    opcodes = sm.get_opcodes();
    diffoutputdiv = $("#"+div_id);
    while(diffoutputdiv.firstChild)
      diffoutputdiv.removeChild(diffoutputdiv.firstChild);

    //console.log opcodes

    $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
  }

  var availableUsers = <%= raw @available_users.to_json %>;

  </script>
  <%= javascript_include_tag 'dashboard/messages' %>
<% end %>

<div id="answer-show">

</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mensagens
        <small>Envie mensagens com recomendações para alunos</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
        <li><i class="fa fa-envelope"></i> <%= link_to "Mensagens", dashboard_messages_path %></li>
        <li class="active"><i class="fa fa-eye"></i> <%= truncate(@message.subject) %></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-12">


          <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Mensagem de <%= @message.user.name %></h3>
                                    <div class="box-tools pull-right">
                                      <% if @message.has_recommendation? %>
                                        <i class="fa fa-paperclip"></i>
                                      <% end %>
                                    </div>
                                </div>
                                <div class="box-body">


    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
              <%= label_tag "Destinatários" %><br />
              <div>
                <ul id="users">
                  <% unless @message.user_ids.nil? %>
                    <% @message.user_ids.each do |user_id| %>
                      <li data-id="user_id-<%=user_id%>"><%= User.find(user_id).name %></li>
                    <% end %>
                  <% end %>
                  <% unless @message.team_ids.nil? %>
                    <% @message.team_ids.each do |team_id| %>
                      <li data-id="team_id-<%=team_id%>">Turma: <%= Team.find(team_id).name %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag "Respostas recomendadas" %><br />
              <ul id="answers">
                  <% unless @message.answer_ids.nil? %>
                    <% @message.answer_ids.each do |answer_id| %>
                      <% i = 1 %>
                      <% a = Answer.find(answer_id) %>
                      <li data-id="answer_id-<%=answer_id%>">
                        <% if current_user.prof? %>
                            <%= a.user.name + " @ " + a.question.title + " #"+ a.try_number.to_s %>
                        <% else %>
                            Resposta <%= raw i.to_s %>
                        <% end %>
                        <% i = i+1 %>
                        <span class='label label-default answer-btn' style='cursor:pointer;' data-id="<%= a.id %>" data-message-id="<%= @message.id %>"> <i class='fa fa-eye'></i></span>
                      </li>
                    <% end %>
                  <% end %>
              </ul>
            </div>
            <div class="form-group">
              <%= label_tag "Questões recomendadas" %><br />
              <ul id="questions">
                  <% unless @message.question_ids.nil? %>
                    <% @message.question_ids.each do |question_id| %>
                      <li data-id="question_id-<%=question_id%>">
                        <a href="<%= current_user.link_to_question(Question.find(question_id)) %>">
                          <%= Question.find(question_id).title %>
                        </a>
                      </li>
                    <% end %>
                  <% end %>
              </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div style="margin-bottom:20px;" class="col-md-12">
            <hr>


              <h4><%= simple_format @message.subject %></h4>



              <%= simple_format @message.content %>

      </div>
    </div>

    </div><!-- /.box-body -->
  </div>
  </div>
</div>



      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Comentários</h3>
          <% @message.replies.each do |r| %>
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title" style="width:80%;">
                      <div class="pull-left image">
                          <img src="http://www.gravatar.com/avatar/<%= r.user.gravatar%>" class="img-circle" alt="Imagem do usuário" style="width:50px;margin-right:10px;"/>
                      </div>
                      <%= r.user.name %>
                      <br><small><i class="fa fa-clock-o"></i> há <%= time_ago_in_words r.updated_at %></small>
                    </h3>
                    <% if @message.user.id == current_user.id %>
                      <div class="box-tools pull-right">
                        <%= link_to dashboard_message_reply_path(@message,r), method: :delete,data: { confirm: 'Você tem certeza que deseja apagar este comentário?'} do %>
                          <%= button_tag "Apagar", :class => "btn btn-sm btn-danger" %>
                        <% end %>
                      </div>

                    <% end %>
                </div>
                <div class="box-body">
                    <%= simple_format r.content %>
                </div><!-- /.box-body -->
            </div>
          <% end %>

          <% if @message.can_post?(current_user) %>
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">
                      <div class="pull-left image">
                          <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar%>" class="img-circle" alt="Imagem do usuário" style="width:50px;margin-right:10px;"/>
                      </div>
                      Novo comentário de <%= current_user.name %>
                    </h3>
                </div>
                <div class="box-body">
                    <%= form_tag dashboard_message_replies_path(@message), :method => :post do %>
                      <% if @reply.errors.any? %>
                        <div class="panel panel-danger">
                          <div class="panel-heading">
                            Não pode ser salvo devido à <%= pluralize(@reply.errors.count, "erro")%>:
                          </div>

                          <div class="panel-body">
                            <ul>
                            <% @reply.errors.messages.each do |msg| %>
                              <li><%= msg[1][0] %></li>
                            <% end %>
                            </ul>
                          </div>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= label_tag "Comentário" %><br />
                        <%= text_area_tag "reply[content]", @reply.content, :class => "form-control input", :placeholder => "Seu comentário ...", :rows => "8" %>
                      </div>
                      <div class="form-group">
                        <%= button_tag "Enviar", :type => :submit, :class => "btn btm-sm btn-primary" %>
                      </div>
                  <% end %>
                </div><!-- /.box-body -->
            </div>
          <% end %>

        </div>
      </div>

</section>
