<header class='page-header' >
  {{#if id }}
    <h4>Editar caso de teste</h4>
  {{else}}
    <h4>Novo caso de teste</h4>
  {{/if}}
</header>
<form class="form-vertical" novalidate>
  <input name="id" type="hidden" />

  <fieldset>

    <div class="control-group title_group">
        <label class="control-label" for="title">Título *</label>
        <div class="controls">
          <input id="title" name="title" type="text" required="required"/>
        </div>
    </div>

    <div class="control-group content_group">
      <label class="control-label" for="content">Conteúdo</label>
      <div class="controls">
        {{#if id}}
          <textarea id='ckeditor-{{question_id}}-test_case-{{id}}' name="content" required="required"></textarea>
        {{else}}
          <textarea id='ckeditor-{{question_id}}-test_case-new' name="content" required="required"></textarea>
        {{/if}}
      </div>
    </div>
    
    <div class="control-group tip_group">
      <label class="control-label" for="tip">Dica</label>
      <div class="controls">
        {{#if id}}
          <textarea id='ckeditor-{{question_id}}-test_case-tip-{{id}}' name="tip" required="required"></textarea>
        {{else}}
          <textarea id='ckeditor-{{question_id}}-test_case-new-tip' name="tip" required="required"></textarea>
        {{/if}}
      </div>
    </div>


    <div>
      <p>Para realizar mais de uma execução em um mesmo caso de teste, adicione a tag <strong><--FIM--></strong> para informar o fim de uma execução, tanto na entrada quanto na saída. Por exemplo, para três execuções:</p>

      <p><strong>Entrada</strong></p>
      <pre>
1 2
<--FIM-->
4 2
<--FIM-->
3 3
      </pre>

      <p><strong>Saída</strong></p>
      <pre>
10
<--FIM-->
20
<--FIM-->
22
      </pre>

    <div class="control-group input_group">
        <label class="control-label" for="input">Entrada</label>
        <div class="controls">
          <textarea style="width:100%; height:150px;" id="input" name="input"></textarea>
        </div>
    </div>

    <div class="control-group output_group">
        <label class="control-label" for="output">Saída</label>
        <div class="controls">
          <textarea style="width:100%; height:150px;" id="output" name="output"></textarea>
        </div>
    </div>

    <div class="control-group timeout_group">
        <label class="control-label" for="timeout">
          Tempo máximo de execução (em segundos)
          <input id="timeout" name="timeout" type="text" required="required" class='span1' />
      </label>
    </div>

    <div class="control-group ignore_presentation_group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name='ignore_presentation'> Ignorar diferenças de tabulação 
          <i rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Diferenças entre caracteres de espaços, quebras de linha, e outras tabulações serão ignoradas durante a comparação com a saída da resposta do aluno"  class="icon-question-sign"></i>
        </label>
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" value="Salvar" class="btn btn-primary" />
      <input type="button" value="Cancelar" class="btn btn-primary btn-cancel" />
    </div>

  </fieldset>
</form>
