<header class='page-header' >
  {{#if id }}
    <h4>Editar caso de teste</h4>
  {{else}}
    <h4>Novo caso de teste</h4>
  {{/if}}
</header>
<form class="form-vertical" novalidate>
  <input name="id" type="hidden" />

  <fieldset>

    <div class="control-group title_group">
        <label class="control-label" for="title">Título (Um nome para o caso de teste)</label>
        <div class="controls">
          <input id="title" name="title" type="text" required="required"/>
        </div>
    </div>

    <div class="control-group content_group">
      <label class="control-label" for="content">Conteúdo (Uma breve descrição ou objetivos do caso de teste)</label>
      <div class="controls">
        {{#if id}}
          <textarea id='ckeditor-{{question_id}}-test_case-{{id}}' name="content" required="required"></textarea>
        {{else}}
          <textarea id='ckeditor-{{question_id}}-test_case-new' name="content" required="required"></textarea>
        {{/if}}
      </div>
    </div>

    <div class="control-group tip_group">
      <label class="control-label" for="tip">Dica (Sugestões ou análises disponibilizadas para os alunos quando o caso de teste falhar)</label>
      <div class="controls">
        {{#if id}}
          <textarea id='ckeditor-{{question_id}}-test_case-tip-{{id}}' name="tip" required="required"></textarea>
        {{else}}
          <textarea id='ckeditor-{{question_id}}-test_case-new-tip' name="tip" required="required"></textarea>
        {{/if}}
      </div>
    </div>

    <div class="control-group number_of_tries_group">
        <label class="control-label" for="number_of_tries">
          Mostrar dica somente após
          <input id="tip_limit" name="tip_limit" type="text" required="required" class='span1' />
          tentativa(s) sem sucesso
      </label>
    </div>

<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne-{{id}}">
        Opções avançadas para casos de teste.
      </a>
    </div>
    <div id="collapseOne-{{id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Para realizar mais de uma execução em um mesmo caso de teste, adicione a tag <strong><--FIM--></strong> para informar o fim de uma execução, tanto na entrada quanto na saída. Por exemplo, para três execuções:</p>

        <p><strong>Entrada</strong></p>
        <pre>
  1 2
  <--FIM-->
  4 2
  <--FIM-->
  3 3
        </pre>

        <p><strong>Saída</strong></p>
        <pre>
  10
  <--FIM-->
  20
  <--FIM-->
  22
        </pre>

        <div>
          <p>Para criar um caso de teste com mais de uma opção de saída para uma mesma entrada, adicione a tag <strong><--OU--></strong> para informar diferentes saídas. Por exemplo:</p>

          <p><strong>Entrada</strong></p>
          <pre>
  1
          </pre>

          <p><strong>Saída</strong></p>
          <pre>
  0.62
  <--OU-->
  62.0 %
          </pre>
      </div>
    </div>
  </div>
</div>
</div>


    <div class="control-group input_group">
        <label class="control-label" for="input">Entrada</label>
        <div class="controls">
          <textarea style="width:100%; height:150px;" id="input" name="input"></textarea>
        </div>
    </div>
<!--
    <div class="control-group has_check_program_group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name='has_check_program' class="has_check_program"> Possui programa avaliador de saída? (linguagem C) <strong>EXPERIMENTAL</strong>
          <i rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Você pode escrever um programa em linguagem C capaz de avaliar se a saída obtida está correta ou não."  class="icon-question-sign"></i>
        </label>
      </div>
    </div>

    <div class="control-group check_program_group">
        <label class="control-label" for="input">Código do programa avaliador de saída (linguagem C)</label>
        <div class="controls">
          <textarea style="width:100%; height:150px;" id="check_program" name="check_program"></textarea>
        </div>
    </div>
-->
    <div class="control-group output_group">
        <label class="control-label" for="output">Saída</label>
        <div class="controls">
          <textarea style="width:100%; height:150px;" id="output" name="output"></textarea>
        </div>
    </div>

    <div class="control-group timeout_group">
        <label class="control-label" for="timeout">
          Tempo máximo de execução (em segundos)
          <input id="timeout" name="timeout" type="text" required="required" class='span1' />
      </label>
    </div>

    <div class="control-group ignore_presentation_group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name='ignore_presentation'> Ignorar diferenças de tabulação
          <i rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Diferenças entre caracteres de espaços, quebras de linha, e outras tabulações serão ignoradas durante a comparação com a saída da resposta do aluno"  class="icon-question-sign"></i>
        </label>
      </div>
    </div>

    <div class="control-group show_input_output_group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" name='show_input_output'> Apresentar entrada e saída para os alunos
        </label>
      </div>
    </div>

    <div class="form-actions">
      <input type="submit" value="Salvar" class="btn btn-primary" />
      <input type="button" value="Cancelar" class="btn btn-primary btn-cancel" />
    </div>

  </fieldset>
</form>
