<div>
  <div class='clearfix'>
    <h5 class='left'>{{{title}}}</h5>
    <div class='right'>
      <a href='' class='detail-test_case-link' ><i class="icon-plus"></i> Detalhes </a>
      <a href='' class='edit-test_case-link' ><i class="icon-edit"></i> Editar </a>
      <a href='' class='destroy-test_case-link' ><i class="icon-remove-circle"></i> Remover </a>
    </div>
  </div>
</div>
<div id="test_case_{{{id}}}" class="hide">
<div class='clearfix'>

  <p><strong>Descrição: </strong>{{safe content}}</p>
  <p><strong>Dica: </strong>{{safe tip}}</p>
  <p><strong>Tempo máximo de execução: </strong>{{safe timeout}} segundo(s)</p>
  {{#if ignore_presentation}}
  <p><span class="badge badge-warning">!</span> <strong>Este caso de teste irá ignorar diferenças de tabulação</strong></p>
  {{/if}} 
  {{#if show_input_output}}
  <p><span class="badge badge-warning">!</span> <strong>Este caso de teste irá apresentar entradas e saídas para os alunos</strong></p>
  {{/if}} 

</div>
<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne-{{id}}">
        Entrada
      </a>
    </div>
    <div id="collapseOne-{{id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{{safe input}}</pre>
      </div>
    </div>

    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo-{{id}}">
        Saída
      </a>
    </div>
    <div id="collapseTwo-{{id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{{safe output}}</pre>
      </div>
    </div>
  </div>
</div>
</div>