	<h4>Aluno <em><%= @user.name %></em> na turma <em><%= @team.name %></em></h4>

  <h5>Objetos de aprendizagem jรก disponibilizados para esta turma:</h5>

  <% @los.each do |lo| %>
  
		<section class="well"><header class="clearfix">
  <div class="left">
    <%= link_to panel_team_user_lo_path(@team, @user,lo) do%>
    <h4><%= lo.name %></h4>
    <% end %>
    <!--<small><%= link_to "Respostas de toda a turma", overview_panel_team_lo_path(@team,lo)  if current_user.admin? or current_user.id == @team.owner_id  %></small>-->
  </div>
</section>


	<% end %>