  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Aluno <em><%= @user.name %></em>
          <small>Destalhes do aluno na turma <em><%= @team.name %></em></small>
      </h1>
      <ol class="breadcrumb">
          <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
          <li><i class="fa fa-users"></i> <%= link_to "Turma \"#{@team.name}\"", panel_team_path(@team.id) %></li>
          <li><i class="fa fa-user active"></i> <%= @user.name %></li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

          <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Progresso</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-hover table-bordered">
                    <tr>
                      <th>O.A.</th>
                      <th>Progresso</th>
                      <th></th>
                    </tr>
                    <% @los.sort_by{|x| x.name.downcase}.each do |lo| %>

                      <tr>
                        <td><%= link_to lo.name, "/published/teams/#{@team.id.to_s}/los/#{lo.id.to_s}", :target => "_blank"%></td>
                        <td style="text-align:center;">
                          <%= render_progress(@user.progress_lo(@team.id,lo.id),"% concluído","width:100%;") %>
                        </td>
                        <td><%= link_to "Detalhes", panel_team_user_lo_path(@team, @user,lo)%></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
            </div>
          </section>

          <section class="col-lg-6">
            <%= recent_activity(@recent_activity_data) %>
          </section>
    </div>
  </section>