<div class="well" style="padding:5px;">
<h4>Nova Tag</h4>

<%= form_for @tag, :url => dashboard_tags_create_tag_path, :remote => true, :html => {:method => :post, :id => "new_tag_form"} do |f| %>
	<%= f.label "name", "Nome" %>
  <%= f.text_field "name", :class => "form-control input" %>
  <%= f.label "description", "Descrição" %>
  <%= f.text_field "description", :class => "form-control input" %>
  <%= hidden_field_tag 'answer_id', @answer.id %>
  <%= f.label "type", "Tipo" %>
  <p>
  	<%= radio_button("tag", "type", "1") %> <span style="margin-right:5px;" class="label label-danger">1</span>
  	<%= radio_button("tag", "type", "2") %> <span style="margin-right:5px;" class="label label-warning">2</span>
  	<%= radio_button("tag", "type", "3",{checked: true}) %> <span style="margin-right:5px;" class="label label-default">3</span>
  </p>
  <%= f.submit "Enviar", :class => "btn btn-primary" %>
  <%= f.button "Cancelar", :type => "button", :class => "btn", :id => "new_tag_cancel" %>
<% end %>
</div>
