<header>
  <div class='clearfix'>
   <div class='left'>
      <h4>{{name}}</h4>
    </div>
    <span class='right'>
      <a href='#' data-id='{{id}}' id='edit_team'><i class="icon-edit"></i> Editar </a>
      <a href='#' data-id='{{id}}' id='destroy_team' ><i class="icon-remove-circle"></i> Remover </a>
    </span>
  </div>
    <span class='date-info'>
      Criado em {{created_at}} |

      {{#ifCond numbers_of_enrolled 1}}
         {{numbers_of_enrolled}} aprendiz matriculado
      {{else}}
         {{numbers_of_enrolled}} aprendizes matriculados
      {{/ifCond}}
      |
      <a href='' class='view-learners'><i class='icon-eye-close'></i> Ver Aprendizes</a>
    </span>
</header>

<section class='show-learners hide'>
  <table class="table table-condensed table-hover">
     <thead>
      <tr><th>Aprendiz</th></tr>
     </thead>
     <tbody>
      {{#each users}}
        <tr><td><a href="/panel/teams/{{../id}}/users/{{id}}">{{name}}</a> ({{email}})</td></tr>
      {{/each}}
     </tbody>
  </table>
</section>


<hr>
