
<a href="#" class="question-content-link"><h3>Enunciado</h3></a>

<div id="question-content" class="hide">
<h4><%= @answer.exercise.title %></h4>
<%= raw @answer.exercise.content %>
<hr/>  
<%= raw @answer.question.content %>
</div>

<h3>Tentativa #<%= @answer['try_number'] %> <small>Realizada em <%= @answer['created_at'].strftime("%d/%m/%Y às %H:%M:%S") %></small></h3>

<%= render :partial => "panel/answer", :locals => {:answer => @answer, :previous_answers => @previous_answers} %>

