
<%= content_for :scripts do %>
  <%= javascript_include_tag 'dashboard/resizeApp' %>
  <%= javascript_include_tag 'difflib' %>
  <%= javascript_include_tag 'diffview' %>
  <%= javascript_include_tag 'dashboard/home' %>


  <script type="text/javascript">
    function diffUsingJS(div_id,label1,txt1,label2,txt2){
      // get the baseText and newText values from the two textboxes, and split them into lines
      base = difflib.stringAsLines(txt1);//$("baseText").value);
      newtxt = difflib.stringAsLines(txt2);//$("newText").value);
  
      //create a SequenceMatcher instance that diffs the two sets of lines
      sm = new difflib.SequenceMatcher(base, newtxt);
  
      // get the opcodes from the SequenceMatcher instance
      // opcodes is a list of 3-tuples describing what changes should be made to the base text
      // in order to yield the new text
      opcodes = sm.get_opcodes();
      diffoutputdiv = $("#"+div_id);
      while(diffoutputdiv.firstChild)
        diffoutputdiv.removeChild(diffoutputdiv.firstChild);
  
      //console.log opcodes
  
      $(diffoutputdiv).append(diffview.buildView({baseTextLines: base, newTextLines: newtxt, opcodes: opcodes, baseTextName: label1, newTextName: label2, contextSize: 0, viewType: 0 }))
    }
  </script>
<% end %>
  


<div id="answer-show">

</div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Questão "<%=@question.title %>" - Aluno <%= @user.name %>
          <small>Respostas do aluno para a questão, na turma <em><%= @team.name %></em></small>
      </h1>
      <ol class="breadcrumb">
          <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
          <li><i class="fa fa-users"></i> <%= link_to "Turma \"#{@team.name}\"", panel_team_path(@team.id) %></li>
          <li><i class="fa fa-user"></i> <%= link_to @user.name, panel_team_user_path(@team.id,@user.id) %></li>
          <li><i class="fa fa-check"></i> <%= link_to @lo.name, panel_team_user_lo_path(@team.id,@user.id,@lo.id) %></li>
          <li><i class="fa fa-question"></i> <%= @question.title %></li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">

          <section class="col-lg-6">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Respostas para a questão</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <% @answers.each do |a| %>
                    <%= answer_link a %>
                  <% end %>
                  
                </div>
            </div>
          </section>
    </div>
  </section>