<%= render :partial => "panel/breadcrumb" %>

<% @answers.each do |a| %>
	<h5>#<%= a['try_number'] %>, Há <%= time_ago_in_words a['created_at']%></h5>
	<%= link_to panel_team_user_lo_question_answer_path(@team,@user,@lo,@question,a) do %>
		<pre><%= truncate(a['response'],length:100) %></pre>
	<% end %>
<% end %>