<div class="span3 answer" data-toggle="modal">
  <span class="text-in-border-{{classname}}">{{title}}</span>
  <div class='{{classname}}-answer'>
    <pre class="prettyprint lang-pascal">

{{response}}
    </pre>
  </div>
</div>

{{#if tip}}
   <div class="span4 answer-tip">
     <i class='icon-caret-left'></i>
     <div class='title'>Resposta Incorreta, análise a dica e tente novamente</div>
     <div class='content'>
         <p><strong>Tentativa: {{try_number}}</strong></p>
         {{safe tip}}
     </div>
   </div>
{{/if}}

{{#if compile_errors }}
<div class="compile_errors">
<h3>Saída do compilador</h2>
{{{compile_errors}}}
</div>
{{/if}}