{{#if ok}}
<div class="alert alert-success">
  Parabéns! Resposta correta!
</div>
{{else}}
<div class='alert alert-error'>
  Resposta Incorreta, analise a dica e tente novamente.
</div>
{{/if}}

{{#if compile_errors }}
  <div class="alert alert-error">
    <h4>Erro de compilação</h4>
    <p><strong>Saída do compilador:</strong></p>
    {{{compile_errors}}}
  </div>
{{/if}}

{{#if ok}}
{{else}}
<h4>Verifique abaixo os casos de teste em que seu programa falhou:</h4>
{{/if}}


{{#each results}}
{{#if error}}
<div class="alert alert-error">
{{#if diff_error}}
    <h4>Erro de saída</h4>
{{/if}}

{{#if time_error}}
    <h4>Tempo de execução excedido</h4>
{{/if}}

{{#if presentation_error}}
    <h4>Erro de apresentação</h4>
    <p><strong>Verifique a diagramação da sua resposta</strong></p>
{{/if}}

{{#if exec_error}}
    <h4>Erro de execução</h4>
{{/if}}

  <p><strong>Caso de teste '{{title}}'</strong></p>

  <a href="#" class="test-case-details" data-tcid="{{id}}" data-aid="{{../id}}"><i class="icon-plus"></i> Detalhes do erro</a>

  <div class="hide" id="test_case_details_{{id}}_{{../id}}">
    {{{content}}}
    <p><strong>Dica:</strong></p>
      {{{tip}}}
    <p><strong>Entrada utilizada:</strong></p>
      <pre>{{{input}}}</pre>
    <p><strong>Saída esperada:</strong></p>
      <pre>{{{output_expected}}}</pre>
    <p><strong>Saída obtida:</strong></p>
      <pre>{{{output}}}</pre>
  </div>
</div>
{{/if}}
{{/each}}

<button type="button" class="answer_btn btn btn-primary">Responder novamente</button>

{{#unless for_test }}
<p style="margin-top: 10px;">
  <a href='' class='last-answers-link'><i class="icon-backward"></i> Últimas respostas </a> 
</p>

<div class="accordion hide" id="accordion_code_{{{question_id}}}">

{{#each last_answers}}

  <div class="accordion-group">
    <div class="accordion-heading" style="padding:5px;">
        <a class="accordion-toggle" style="display:inline;" data-toggle="collapse" data-parent="accordion_code_{{question_id}}" href="#collapseCode-{{id}}">{{ created_at }} atrás </a>
        <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Linguagem utilizada na resposta" class="label">{{{ lang }}}</span>
        {{#if correct}}
          <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Resposta correta" class="label label-success">correta</span>
        {{else}}
          {{#if compile_errors}}
            <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de compilação" class="label label-warning">compilação</span>
          {{else}}
            {{#each results}}
              {{#if diff_error}}
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de saída para o caso de teste '{{{title}}}'" class="label label-important">saída</span>
              {{/if}}

              {{#if time_error}}
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Tempo excedido para o caso de teste '{{{title}}}'" class="label label-important">tempo</span>
              {{/if}}

              {{#if presentation_error}}
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de apresentação para o caso de teste '{{{title}}}'" class="label label-important">apresentação</span>
              {{/if}}

              {{#if exec_error}}
                <span rel="tooltip" data-toggle="tooltip" data-placement="top" title data-original-title="Erro de execução para o caso de teste '{{{title}}}'" class="label label-important">execução</span>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/if}}
    </div>
    <div id="collapseCode-{{id}}" class="accordion-body collapse">
      <div class="accordion-inner" style="background-color:white;">

        <p><a href='' class='details-answer-link' data-id="{{id}}" ><i class="icon-plus"></i> Detalhes da resposta </a> | 
          <a href='' class='reload-answer-link' data-id="{{@key}}" ><i class="icon-play"></i> Utilizar essa resposta para uma nova tentativa </a></p>
        <div id="details_answer_{{{id}}}" class="hide">

{{#if compile_errors }}
  <div class="alert alert-error">
    <h4>Erro de compilação</h4>
    <p><strong>Saída do compilador:</strong></p>
    {{{compile_errors}}}
  </div>
{{/if}}

{{#each results}}
{{#if error}}
<div class="alert alert-error">
{{#if diff_error}}
    <h4>Erro de saída</h4>
{{/if}}

{{#if time_error}}
    <h4>Tempo de execução excedido</h4>
{{/if}}

{{#if presentation_error}}
    <h4>Erro de apresentação</h4>
    <p><strong>Verifique a diagramação da sua resposta</strong></p>
{{/if}}

{{#if exec_error}}
    <h4>Erro de execução</h4>
{{/if}}

  <p><strong>Caso de teste '{{title}}'</strong></p>

  <a href="#" class="test-case-details" data-tcid="{{id}}" data-aid="{{../id}}_2"><i class="icon-plus"></i> Detalhes do erro</a>

  <div class="hide" id="test_case_details_{{id}}_{{../id}}_2">
    {{{content}}}
    <p><strong>Dica:</strong></p>
      {{{tip}}}
    <p><strong>Entrada utilizada:</strong></p>
      <pre>{{{input}}}</pre>
    <p><strong>Saída esperada:</strong></p>
      <pre>{{{output_expected}}}</pre>
    <p><strong>Saída obtida:</strong></p>
      <pre>{{{output}}}</pre>
  </div>
</div>
{{/if}}
{{/each}}

        </div>
        <h4>Resposta e comparação com a anterior</h4>
        <!--
        <div class="span3 answer" data-toggle="modal">
          <span class="text-in-border-{{classname}}">{{title}}</span>-->
          <div class='{{classname}}-answer' id="{{{id}}}">
            <!--<pre class="prettyprint lang-pascal">

{{response}}
            </pre> 
          </div>-->
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>
{{/unless}}