{{#if ok}}
<div class="alert alert-success">
  Parabéns! Resposta correta!
</div>
{{else}}
<div class='alert alert-error'>
  Resposta Incorreta, análise a dica e tente novamente
</div>
{{/if}}

{{#if compile_errors }}
  <div class="alert alert-error">
    <h4>Erro de compilação</h4>
    <p><strong>Saída do compilador:</strong></p>
    {{{compile_errors}}}
  </div>
{{/if}}

{{#each results}}

{{#if diff_error}}
  <div class="alert alert-error">
    <h4>Erro de execução</h4>
    <p><strong>Caso de teste:</strong></p>
    {{{content}}}
    <p><strong>Dica:</strong></p>
    {{{tip}}}
  </div>
{{/if}}

{{#if time_error}}
  <div class="alert alert-error">
    <h4>Tempo de execução excedido</h4>
  </div>
{{/if}}

{{#if presentation_error}}
  <div class="alert alert-error">
    <h4>Erro de apresentação</h4>
    <p><strong>Caso de teste:</strong></p>
    <p><strong>Verifique a diagramação da sua resposta</strong></p>
  </div>
{{/if}}

{{#if exec_error}}
  <div class="alert alert-error">
    <h4>Erro de execução</h4>
    <p><strong>Saída:</strong></p>
    {{{ output2 }}}
  </div>
{{/if}}

{{/each}}

<button type="button" class="answer_btn btn btn-primary">Responder novamente</button>

<h5>Respostas anteriores</h5>

<div class="accordion" id="accordion_code_{{{question.id}}}">

{{#each last_answers}}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion_code_{{question_id}}" href="#collapseCode-{{id}}">
        {{ created_at }} atrás
      </a>
    </div>
    <div id="collapseCode-{{id}}" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="span3 answer" data-toggle="modal">
          <span class="text-in-border-{{classname}}">{{title}}</span>
          <div class='{{classname}}-answer' id="{{{id}}}">
            <!--<pre class="prettyprint lang-pascal">

{{response}}
            </pre> -->
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>