<td>{{team}}</td>
<td>{{lo}}</td>
<td>{{exercise}}</td>
<td>{{question}}</td>
<td>{{created_at}}</td>
<td><pre>{{response}}</pre></td>
<td>{{#if correct}} Sim {{else}} Não {{/if}}</td>
<td>{{user}}</td>
