<!DOCTYPE html>
<html>
<head>
  <title>Farma</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body data-logged='<%= current_user.to_json %>'>
  <div id="alert-fixed"></div>
  <section>
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">FARMA</a>
            <div class='logged-in' id="welcome"></div>
            <div class="nav-collapse collapse">
              <ul class="nav" id="top_menu">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Subhead ================================================== -->
    <header class="subhead">
      <div class="container-fluid">
        <h1>Ferramenta de Autoria FARMA</h1>
        <p>Ferramenta de Autoria para a Remediação de erros com Mobilidade na Aprendizagem.</p>
        <p>Construa Objetos de Aprendizagem para o ensino de matemática</p>
      </div>
    </header>

    <section class="container-fluid" id="main">
      <%= yield %>
    </section>

  </section>
  <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full">
  </script>
  <script type="text/x-mathjax-config">
	//<![CDATA[
	    MathJax.Hub.Config({
	      asciimath2jax: {
		delimiters: [['`','`'], ['$','$']]
	      }
	    });
	 //]]>
  </script>
</body>
</html>
