<!DOCTYPE html>
<html>
<head>
  <title>Farma</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

<script type="text/javascript" src="http://codemirror.net/lib/codemirror.js"></script>
<script type="text/javascript" src="http://codemirror.net/mode/pascal/pascal.js"></script>
<script type="text/javascript" src="http://codemirror.net/mode/clike/clike.js"></script>
<script type="text/javascript" src="http://codemirror.net/mode/ruby/ruby.js"></script>
<link rel="stylesheet" type="text/css" href="http://codemirror.net/lib/codemirror.css"/>

</head>
<body data-logged='<%= current_user.to_json %>'>
  <div class="page-container">
    <div id="alert-fixed">
      <span><img  class='brand loading' src='/assets/spinner.gif'></span>
    </div>
    <section>
      <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div id="header_left_menu">
              </div>
              <div id="header_right_menu" class="nav-collapse collapse pull-right logged-in">
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Subhead ================================================== -->
      <header class="subhead">
        <div class="container-fluid">
          <h1>Ferramenta de Autoria FARMA - ALG</h1>
          <p>Ferramenta de Autoria para a Remediação de erros com Mobilidade na Aprendizagem - Algoritmos.</p>
          <p>Construa Objetos de Aprendizagem para o ensino de progração</p>
        </div>
      </header>

      <section class="container-fluid" id="main">
        <%= yield %>
      </section>

    </section>
  </div>

  <div class="modal-container">
        <!-- You can put your modal definitions here but it is not required -->
  </div>
  <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full">
  </script>
  <script type="text/x-mathjax-config">
	//<![CDATA[
	    MathJax.Hub.Config({
	      asciimath2jax: {
		delimiters: [['`','`'], ['$','$']]
	      }
	    });
	 //]]>
  </script>
</body>
</html>
