<!DOCTYPE html>
<html>
<head>
  <title>Farma</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body data-logged='<%= current_user.to_json %>'>
  <section>
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">FARMA</a>
            <div class='logged-in' id="welcome"></div>
            <div class="nav-collapse collapse">
              <ul class="nav" id="top_menu">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="container-fluid" id="main">
      <%= yield %>
    </section>

  </section>
</body>
</html>
