<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FARMA-ALG <%= @subdomain %> | Dashboard</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <%= stylesheet_link_tag    'dashboard/dashboard', :media => 'all' %>
        <%= yield :stylesheets %>

        <%= javascript_include_tag 'dashboard/dashboard' %>
        <%= yield :scripts %>
  			<%= csrf_meta_tags %>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-black">
      <div id="farmaAlgModals">
        <%= yield :modals %>
      </div>

      <div id="farmaAlgShowModals">

      </div>

        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <%= link_to raw("FARMA-ALG <small style='font-size: 65%;'>#{@subdomain}</small>"), dashboard_home_path, :class => "logo" %>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Esconder menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                <% unless  @n_new_messages == 0 %>
                                  <span class="label label-success"><%= @n_new_messages %></span>
                                <% end %>

                            </a>
                            <ul class="dropdown-menu">
                                <% unless  @n_new_messages == 0 %>
                                  <li class="header">Você tem <%= @n_new_messages %> novas mensagens</li>
                                <% end %>
                                <li>
                                    <ul class="menu">
                                      <% @messages_to_me_top.each do |m| %>

                                        <li>
                                            <a href="<%= dashboard_message_path(m) %>">
                                                <div class="pull-left">
                                                    <img src="http://www.gravatar.com/avatar/<%= m.user.gravatar%>" class="img-circle" alt="Imagem do usuário"/>
                                                </div>
                                                <h4>
                                                    <%= truncate(m.subject) %>
                                                </h4>
                                                <p><%= truncate(m.content) %></p>
                                                <h4>
                                                  <% if current_user.is_message_new?(m) %>
                                                    <span class="badge bg-green">nova</span>
                                                  <% end %>
                                                  <% if m.has_recommendation? %>
                                                    <span><i class="fa fa-paperclip"></i> </span>
                                                  <% end %>
                                                  <small><i class="fa fa-clock-o"></i> <%= time_ago_in_words m.updated_at %></small>
                                                </h4>
                                            </a>
                                        </li>
                                      <% end %>
                                    </ul>
                                </li>
                                <li class="footer"><a href="<%= dashboard_messages_path %>">Ver todas as mensagens</a></li>
                            </ul>
                        </li>


                        <!-- Notifications: style can be found in dropdown.less -->
                        <!--
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        -->

                        <!-- Tasks: style can be found in dropdown.less -->
                        <!--
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        -->


                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span><%= current_user.name %> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header bg-light-blue">
                                    <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar%>" class="img-circle" alt="User Image" />
                                    <p>
                                        <%= current_user.name %> <%= raw "Administrador" if current_user.admin? %> <%= raw "Professor" if current_user.prof? && !current_user.admin?%>
                                        <small>Último acesso em <%= current_user.last_sign_in_at.strftime("%d/%m/%Y às %H:%M:%S") %></small>
                                    </p>
                                </li>

                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/users/edit" class="btn btn-default btn-flat">Meus dados</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/users/sign_out" data-method="delete" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>


        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar%>" class="img-circle" alt="Imagem do Usuário" />
                        </div>
                        <div class="pull-left info">
                            <p>Olá, <%= current_user.name %></p>

                            <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                        </div>
                    </div>

                    <!-- search form -->
                    <!--
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    -->

                    <!-- menu -->
                    <%= render :partial => "dashboard/menu" %>

                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
              <%= yield %>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->




    </body>
</html>
