<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FARMA-ALG</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <%= stylesheet_link_tag    'dashboard/dashboard', :media => 'all' %>
        <%= yield :stylesheets %>

        <%= javascript_include_tag 'dashboard/dashboard' %>
        <%= yield :scripts %>
        <%= csrf_meta_tags %>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bg-light-gray">


          <!-- Main component for a primary marketing message or call to action -->
          <% if not notice.nil? %>
              <p id="notice" style="padding-left: 0;margin-left: 0;position: relative;" class="text-center alert alert-info"><%= notice %></p>
          <% end %>
          <% if not alert.nil? %>
            <p id="alert" style="padding-left: 0;margin-left: 0;position: relative;" class="text-center alert alert-danger"><%= alert %></p>
          <% end %>

          <div class="container">
            <div class="row" style="margin-top:30px;">
              <% if @subdomain == "(TESTE)" %>
                <%= render partial: 'layouts/teste' %>
              <% end %>

            </div>
          </div>

           <%= yield %>


    </body>
</html>
